@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "404";
}

<h1 class="text-danger">Resource not found</h1>
<h2 class="text-danger">Resource you are looking for either was moved or never existed in the first place. </h2>
<p>Try search maybe?</p>

