@model IEnumerable<Komsky.Web.Models.TicketViewModel>

@{
    if (ViewBag.Title == null) { ViewBag.Title = "Index"; }
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-lg-7">
        
        <span>@ViewBag.Message</span>
        <p>
            @Html.ActionLink("Create New", MVC.Ticket.ActionNames.Create)
        </p>
    </div>
    <div class="col-lg-5">
        <input type="text" id="searchfield" class="form-control pull-left" placeholder="Search for tickets..."/>
        <button id="searchbutton" class="btn btn-default pull-right">Search <i class="fa fa-search"></i></button>
    </div>
</div>

    @foreach (var item in Model)
    {
        <div style="display: inline-block">
            @Html.Partial(MVC.Ticket.Views._Ticket, item)
        </div>
    }
        

